html {
    box-sizing: border-box;
    height: 100%;
}

body {
    align-items: center;
    background: linear-gradient(320deg, blueviolet, teal, lime);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    height: inherit;
    justify-content: center;
    font-family: "Dosis", sans-serif;
    font-display: swap;
}

.calculator {
    backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, .25);
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .01);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, .1);
    color: black;
    backdrop-filter: blur(4px);
    flex-basis: 400px;
    height: 540px;
    padding: 20px, 35px;
}

.result { 
    background-color: white;
    border-radius: 16px;
    text-align:right;
    font-size: 36px;
    overflow: auto;
    padding: 20px;
    width: 75%;
    margin-top: 15px;
    font-weight: bold;
    transform:translateX(7%);
    background: rgba(255, 255, 255, .95);
}

.calcButtonRow {
    margin-inline-start: 25px;
    margin-top: 15px;
}

.calcButton{
    width: 70px;
    height: 70px;
    border: 2px black;
    border-radius: 10px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    background: rgba(255, 255, 255, .95);    
}

.calcButton:active {
    background-color: rgba(255, 255, 255, .5);
    animation: pulse;
    animation-play-state: paused;
    animation-duration: .025s;
}

.calcButton:hover {
    transform:scale(1.05, 1.05);
}

.calcButton:last-child {
    background-color: rgb(235, 44, 101);
    
}

.calcButton:last-child:active {
    background-color: rgba(180, 35, 84, 1);
}

#clear {
    width: 160px;
}

#zero {
    width: 250px;
}

@keyframes pulse {
    from{transform: scale(.975, .975);}
    to{transform: scale(1.05, 1.05);}
} 